<div class="content-footer">
    <div class="conten-footer-text">
        <h1 class="hero-header text-montserrat-bold">
            {{ 'footer.title.one'  }}
            <strong class="text-blue">
                {{ 'footer.title.dos'  }}
            </strong>
        </h1> 
        <h1 class="text-montserrat-extralight">
            {{ 'footer.title.tres' }}
        </h1>       
        <button lass="btn btn-blue">
            {{ 'footer.btn.one' }}
        </button>
        <div class="content-logo">
            <img src="assets/Ic_Wolox_Footer.svg">
        </div>
    </div>
</div>
