<header>
    <div class="imgs">
        <img src="assets/logo_full_color.PNG" class="logo">
    </div>
    <nav class="navmenu active" >        
        <ul class="menu text-montserrat-bold">         
          <li><a [routerLink]="['/home']">Inicio</a></li>          
        </ul>
     </nav>
</header>
