<div class="content-tecnologia text-montserrat-medium" >
    <div class="beneficios-text  text-montserrat-extralight">
        <h1>Nuestras Series <strong class="text-blue">;)</strong></h1>
    </div> 
    <div class="content-search  text-montserrat-extralight">
        <h1>Busca la serie <strong class="text-blue">;)</strong></h1>
        <form [formGroup]="searchForm" (ngChange)="search(searchForm.value)" class="searchForm"> 
            <input  formControlName="work" >   
            <select formControlName="typeSearch">
                <option [value]="1" >Nombre</option>
            </select>
            <img src="assets/iconos/flecha-abajo.png" (click)="oderDeccendente()"> 
            <img src="assets/iconos/flecha-arriba.png" (click)="oderAccendente()">               
        </form>
    </div>    
    <div class="elemento-tect"  *ngFor="let herramienta of herramientas; index as i">     
        <div class="cara1" *ngIf="!herramienta.show">
            <img src="{{herramienta.image }}">
            <div class="container">
                <h4><b>{{ herramienta.name }}</b></h4>         
            </div> 
            <a (click)="showContent(i)">leer más</a>    
        </div>
        <div class="cara2" *ngIf="herramienta.show">
            <a (click)="hideContent(i)">atrás</a>    
            <div class="container">
                <h4>Estado: <b>{{ herramienta.status }}</b></h4>
                <h4>Especie: <b>{{ herramienta.species }}</b></h4>   
                <h4 >
                        Nombre del primer episodio donde apareció el personaje: <b>{{ herramienta.origin.name }}</b>
                </h4>  
                
                <h4 (click)="open(content)">
                    Nombre de la última ubicación conocida: <b>{{ herramienta.location.name }}</b>                   
                </h4>           
            </div>   
        </div> 
        <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Nombre del primer episodio donde apareció el personaje:</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="dateOfBirth">Nombre: {{ herramienta.origin.name }}</label>
                  <img src="{{ herramienta.origin.url }}">
                </div>
              </form>
            </div>            
          </ng-template>                 
     </div> 
    <div class="content-search ">
        <h4 *ngIf="urlPrev" (click)="prevPage()">Pagina anterior</h4>
        <h4>Total<strong class="text-blue">  {{ total }}  ;)</strong></h4>
        <h4 *ngIf="urlNext" (click)="nexPage()"> Pagina siguiente</h4>
    </div>
</div>

